p {
    color:#1c2559;
    font-weight: 600;
}

h2 {
    color:#1c2559;
    font-weight: 600;
}

h3 {
    color:#1c2559;
}

h4 {
    color:#1c2559;
}

li {
    color: #1c2559;
}

 /* unvisited link */
 .homelink:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  .homelink:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  .homelink:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  .homelink:active {
    color: white;
    text-decoration: none;
  } 

.header {
    background-color: #1c2559;
    color:#ffffff;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom:10px;
    text-align: left;
    height: 100px;
    display: inline-block;
    width: 100%;
}

.menu {
    list-style-type: none;
  }

.headertext {
    float:left;
    text-align: middle;
    height:100%;
    vertical-align: middle;
    line-height: 100px;
}

.menubutton {
    color: white;
    border: none;
    height: 60px;
    margin-top:20px;
    margin-bottom: 20px;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 60px;
}

.welcomeadmin {
    color: #f04822;
    border: none;
    height: 60px;
    margin-top:20px;
    margin-bottom: 20px;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.menubutton:hover {
    border-bottom: 5px solid #f04822;
}

#line{
    width: 100%;
    height: 1px;
    border-bottom: 2px solid #1c2559;
    background-color: #a8b5ff;
}

#search-term {
    color:darkblue
}

.search{
    text-align: right;
}

#entry{
    margin-left: 10px;
}

div.spread {
    display: table;
    width: 100%;
    table-layout: fixed;
}
div.spread span {
    display: table-cell;
    text-align: center;
}

div.spread span:first-child {
    text-align: left;
}
div.spread span:last-child {
    text-align: right;
}

.searchbox {
    border: 2px solid #f04822;
    width: 75%;
}

.searchlabel {
    color: #1c2559;
    font-weight: 600;
}

.button {
    color: white;
    background-color: #f04822;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button:hover {
    background-color: #b53619;
}

.searchform {
    width: 50%;
    padding-left: 20px;
}

.col-sm-10 {
    margin-left: 30px;
    margin-right: 30px;
}

.container {
    width: 100%;
    float: left;
}

.container input {
    width: 100%;
}

/*#search_JSON {
    height: 200px;
}*/

.result {
    background-color: #a8b5ff;
    padding-left: 10px;
    display: inline-flex;
    width: 100%
}

.resulttext {
    float:left;
    width: 100%;
    padding: 10px;
}

.resultimage {
    float: right;
    padding: 10px;
}

.result:hover {
    background-color: #8093ff;
}

/* unvisited link */
.resultlink:link {
    color: #1c2559;
    text-decoration: none;
  }
  
  /* visited link */
  .resultlink:visited {
    color: #1c2559;
    text-decoration: none;
  }
  
  /* mouse over link */
  .resultlink:hover {
    color: #1c2559;
    text-decoration: none;
  }
  
  /* selected link */
  .resultlink:active {
    color: #1c2559;
    text-decoration: none;
  } 

  .detailbox {
    background-color: #a8b5ff;
    padding: 10px;
  }