{% extends "base_generic.html" %}

{% block content %}
    <h2>Book Details</h2>
    <div id = line></div>
    <div class = detailbox>
        <h3>Title: {{ book_title }}</h3>
        <h3>Subtitle: {{ book_subtitle }}</h3>
        <h3>Series: {{ book_series }}</h3>
        <h3>Authors: 
        {% for x in book_authors %}
        {{ x }}, 
        {% endfor %}
        </h3>
        <h3>Format: {{ book_format }}</h3>
        <h3>ISBN: {{ book_ISBN }}</h3>
        <h3>Site URL: <a href = "{{book_url}}">{{ book_url }}</a></h3>
        <h3>Description:</h3>
        <p>{{ book_description }}</p>
    </div>
    <div id = line></div>
    
{% endblock %}