{% extends "base_generic.html" %}

{% block content %}
    <h2>Search Form</h2>
    <p>Fill out any number of the fields below and click "Submit" to search for your book.</p>
    <div class="container">
        <form action = "{% url 'results' %}" method ="GET" class = "searchform"> <!--not sure about this: action = "{% url 'results' %}"-->
            <label class = "searchlabel" for="search_title">Title: </label>
            <input class = "searchbox" id="search_title" type="text" name="title_field" placeholder="Enter book title"><br>
            <label class = "searchlabel" for="search_authors">Author(s): </label>
            <input class = "searchbox" id="search_authors" type="text" name="authors_field" placeholder="Enter author(s) (format: name, name, etc...)"><br>
            <label class = "searchlabel" for="search_ISBN">ISBN: </label>
            <input class = "searchbox" id="search_ISBN" type="text" name="ISBN_field" placeholder="Enter ISBN"><br>
            <label class = "searchlabel" for="search_JSON">JSON: </label>
            <input class = "searchbox" id="search_JSON" type="text" name="JSON_field" placeholder="Enter JSON data"><br><br>
            <input class = "button" type="submit" value="SUBMIT">
        </form>
    </div>
{% endblock %}